
.photo {
	width: 157px;
	height: 182px;
	position: relative;
	border: black 2px solid;
	border-radius: 3px;

	.avatar-area {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;

		.avatar {
			width: 100%;
			height: 182px;
			overflow: hidden;
			position: relative;

			> img {
				width: 100%;
			}

			> .name {
				position: absolute;
				top: 20px;
				left: 3px;
				font-family: 'LiSu', 'Microsoft YaHei';
				color: white;
				font-size: 18px;
				writing-mode: vertical-lr;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			}
		}

		// For two-general layout
		&.g2 {
			.avatar {
				width: 50%;

				> img {
					width: auto;
					margin-left: -50%;
					height: 100%;
				}
			}
		}
	}


	.frame {
		background: url(../style/photo/frame.png) no-repeat;
		background-position: top center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 4px;
		left: 0;
	}

	.screen-name {
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		height: 16px;
		line-height: 16px;
		font-size: 12px;
		color: white;
		font-family: 'Microsoft YaHei', 'SimHei';
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
	}

	.hp-bar{
		width: 18px;
		height: 72px;
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: #1d1e19;

		.hp {
			width: 18px;
			height: 18px;
		}
	}

	.hand-area {
		position: absolute;
		overflow: visible;
		top: 50%;
		left: 50%;

		.card-num {
			position: absolute;
			left: -89px;
			top: 9px;
			width: 28px;
			height: 15px;
			background: url(../style/handcard/unknown.png) no-repeat;
			background-size: 26px 15px;
			background-position: center left;
			color: white;
			text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			text-align: center;
			font-size: 12px;
		}

		.movable {
			transform: translate(-50%, -50%);
		}
	}

	.equip-area {
		position: absolute;
		left: 0;
		bottom: 0;
		width: 137px;
		min-height: 68px;
	}

	.judge-area {
		position: absolute;
		top: 5px;
		left: -16px;
		width: 22px;

		.card-icon {
			display: inline-block;
		}

		.movable {
			transform: translate(-50%, -50%);
		}
	}

	&.shu {
		.hand-area .card-num {
			background-image: url(../style/handcard/shu.png);
		}
	}

	&.wu {
		.hand-area .card-num {
			background-image: url(../style/handcard/wu.png);
		}
	}

	&.wei {
		.hand-area .card-num {
			background-image: url(../style/handcard/wei.png);
		}
	}

	&.qun {
		.hand-area .card-num {
			background-image: url(../style/handcard/qun.png);
		}
	}

	&.god {
		.hand-area .card-num {
			background-image: url(../style/handcard/god.png);
		}
	}

	.kingdom {
		position: absolute;
		top: 1px;
		right: -2px;
		width: 28px;
		height: 28px;
	}

	.seat-number {
		position: absolute;
		width: 100%;
		height: 1em;
		bottom: -18px;
		text-align: center;
		font-family: '隶书';
		font-size: 12pt;
		color: #fdfdee;
		text-shadow: #1d1e19 0 0 4px;
	}

	.phase-bar {
		position: absolute;
		width: 100%;
		height: 14px;
		bottom: -3px;
		text-align: center;

		img {
			width: 130px;
			height: 13px;
		}
	}

	.animation-layer {
		position: absolute;
		top: 0;
		left: 50%;
	}
}
