
.photo {
	width: 157px;
	height: 182px;
	position: relative;
	border: black 2px solid;
	border-radius: 3px;

	.avatar-area {
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: row;

		.avatar {
			width: 50%;
			height: 182px;
			overflow: hidden;
			position: relative;

			> img{
				height: 100%;
				margin-left: -50%;
			}

			> .name{
				position: absolute;
				top: 20px;
				left: 3px;
				font-family: 'LiSu', 'Microsoft YaHei';
				color: white;
				font-size: 18px;
				writing-mode: vertical-lr;
				text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
			}
		}
	}


	.frame {
		background: url(../style/photo/frame.png) no-repeat;
		background-position: top center;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 4px;
		left: 0;
	}

	.screen-name {
		background-color: rgba(0, 0, 0, 0.8);
		width: 100%;
		height: 16px;
		line-height: 16px;
		font-size: 12px;
		color: white;
		font-family: 'Microsoft YaHei', 'SimHei';
		position: absolute;
		top: 0;
		left: 0;
		text-align: center;
	}

	.hp-bar{
		width: 18px;
		height: 72px;
		position: absolute;
		right: 0;
		bottom: 0;
		background-color: #1d1e19;

		.hp {
			width: 18px;
			height: 18px;
		}
	}

	.handcard-num {
		position: absolute;
		left: -10px;
		top: 102px;
	}

	.kingdom {
		position: absolute;
		top: 1px;
		right: -2px;
		width: 28px;
		height: 28px;
	}

	.phase-bar {
		position: absolute;
		width: 100%;
		height: 14px;
		bottom: -14px;
		text-align: center;

		img {
			width: 130px;
			height: 13px;
		}
	}
}
