
.dashboard {
	button.finish {
		background:  url('../style/button/finish/disabled.png') no-repeat;
		width: 35px;
		height: 75px;
		border: 0 solid;
		left: 67px;
		top: 37px;

		&.enabled {
			background-image: url('../style/button/finish/normal.png');

			&:hover {
				background-image: url('../style/button/finish/hover.png');
			}
		}
	}
}
