
/* Animation */
.animation{
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
}

.animation img{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.animation img.current{
	display: block;
}
