
button.metro{
	font-family: 'Microsoft YaHei', 'Arial';
	font-size: 14pt;
	padding: 5px;
	background: rgba(0, 0, 0, 0.8);
	border: rgba(255, 255, 255, 0.8) 2px solid;
	color: white;
	cursor: pointer;
}

button.metro:hover{
	background-color: rgba(255, 255, 255, 0.6);
	border-color: rgba(0, 0, 0, 0.8);
	color: black;
}
