/* Card */

.card{
	width: 93px;
	height: 130px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
}

.card .suit{
	width: 21px;
	height: 17px;
	left: 3px;
	top: 19px;
	position: absolute;
}

.card .suit.spade{
	background-image: url(card/suit/spade.png);
}

.card .suit.heart{
	background-image: url(card/suit/heart.png);
}

.card .suit.club{
	background-image: url(card/suit/club.png);
}

.card .suit.diamond{
	background-image: url(card/suit/diamond.png);
}

.card .number{
	position: absolute;
	left: 0;
	top: 2px;
	width: 27px;
	height: 28px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.card.black .number.n1{
	background-image: url(card/number/black/1.png);
}

.card.black .number.n2{
	background-image: url(card/number/black/2.png);
}

.card.black .number.n3{
	background-image: url(card/number/black/3.png);
}

.card.black .number.n4{
	background-image: url(card/number/black/4.png);
}

.card.black .number.n5{
	background-image: url(card/number/black/5.png);
}

.card.black .number.n6{
	background-image: url(card/number/black/6.png);
}

.card.black .number.n7{
	background-image: url(card/number/black/7.png);
}

.card.black .number.n8{
	background-image: url(card/number/black/8.png);
}

.card.black .number.n9{
	background-image: url(card/number/black/9.png);
}

.card.black .number.n10{
	background-image: url(card/number/black/10.png);
}

.card.black .number.n11{
	background-image: url(card/number/black/11.png);
}

.card.black .number.n12{
	background-image: url(card/number/black/12.png);
}

.card.black .number.n13{
	background-image: url(card/number/black/13.png);
}

.card.red .number.n1{
	background-image: url(card/number/red/1.png);
}

.card.red .number.n2{
	background-image: url(card/number/red/2.png);
}

.card.red .number.n3{
	background-image: url(card/number/red/3.png);
}

.card.red .number.n4{
	background-image: url(card/number/red/4.png);
}

.card.red .number.n5{
	background-image: url(card/number/red/5.png);
}

.card.red .number.n6{
	background-image: url(card/number/red/6.png);
}

.card.red .number.n7{
	background-image: url(card/number/red/7.png);
}

.card.red .number.n8{
	background-image: url(card/number/red/8.png);
}

.card.red .number.n9{
	background-image: url(card/number/red/9.png);
}

.card.red .number.n10{
	background-image: url(card/number/red/10.png);
}

.card.red .number.n11{
	background-image: url(card/number/red/11.png);
}

.card.red .number.n12{
	background-image: url(card/number/red/12.png);
}

.card.red .number.n13{
	background-image: url(card/number/red/13.png);
}
