
html, body{
	height: 100%;
}

body{
	background: url(table.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

.template{
	visibility: hidden;
}

/* Dashboard */

.dashboard{
	background: rgba(0, 0, 0, 0.65);
	height: 150px;
	display: flex;
	flex-direction: row;
}

.dashboard ul.equip-area{
	margin: 0;
	padding: 0;
	width: 145px;
	height: 100%;
}

.dashboard ul.equip-area li{
	width: 145px;
	height: 22px;
	margin: 6px;
	background: linear-gradient(to right, #252525, #1B1B1A 25%);
}

.dashboard .handcard-area{
	flex: 1 1 auto;
	position: relative;
}

.dashboard .handcard-area .handcard-num{
	position: absolute;
	bottom: 0;
	right: 0;
}

.dashboard .button-area{
	background: url(dashboard/button-area.png) no-repeat;
	width: 102px;
	height: 149px;
	position: relative;
}

.dashboard .button-area button{
	position: absolute;
}

.dashboard .button-area i.kingdom{
	position: absolute;
	top: 3px;
	left: 70px;
}

.dashboard .button-area i.seatnum{
	position: absolute;
	left: 71px;
	top: 117px;
}

.dashboard button.confirm{
	background: url(button/confirm/normal.png) no-repeat;
	width: 70px;
	height: 70px;
	border: 0 solid;
	left: 6px;
	top: 3px;
}

.dashboard button.confirm:hover{
	background: url(button/confirm/hover.png) no-repeat;
}

.dashboard button.cancel{
	background: url(button/cancel/normal.png) no-repeat;
	width: 70px;
	height: 69px;
	border: 0 solid;
	left: 6px;
	top: 79px;
}

.dashboard button.cancel:hover{
	background: url(button/cancel/hover.png) no-repeat;
}

.dashboard button.finish{
	background:  url(button/finish/normal.png) no-repeat;
	width: 35px;
	height: 75px;
	border: 0 solid;
	left: 67px;
	top: 37px;
}

.dashboard button.finish:hover{
	background: url(button/finish/hover.png) no-repeat;
}

.dashboard .avatar-area{
	display: flex;
	flex-direction: row;
	width: 283px;
    height: 149px;
	background: url(dashboard/base.png) no-repeat;
}

.dashboard .general-avatar{
	position: relative;
	width: 128px;
	height: 149px;
}

.dashboard .general-avatar img.avatar{
	width: 128px;
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 4px;
}

.dashboard .general-avatar .frame{
	background: url(dashboard/avatar.png) no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.dashboard .general-avatar .name{
	width: 87px;
	height: 18px;
	line-height: 18px;
	background: url(dashboard/title/god.png) no-repeat;
	display: block;
	position: absolute;
	top: 2px;
	left: 2px;
	font-family: 'LiSu', 'Arial';
	font-size: 18px;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.dashboard .general-avatar.shu .name{
	background-image: url(dashboard/title/shu.png);
}

.dashboard .general-avatar.wu .name{
	background-image: url(dashboard/title/wu.png);
}

.dashboard .general-avatar.wei .name{
	background-image: url(dashboard/title/wei.png);
}

.dashboard .general-avatar.qun .name{
	background-image: url(dashboard/title/qun.png);
}

.dashboard .general-avatar.head .name::first-letter{
	background: url(dashboard/head.png) no-repeat;
	background-size: 21px 18px;
	width: 21px;
	height: 18px;
	padding-left: 21px;
}

.dashboard .general-avatar.deputy .name::first-letter{
	background: url(dashboard/deputy.png) no-repeat;
	background-size: 21px 18px;
	width: 21px;
	height: 18px;
	padding-left: 21px;
}

.dashboard .hp-bar-wrapper{
	flex: 1 1 auto;
	background: url(dashboard/hpbase.png) no-repeat;
	background-size: 100% auto;
	background-position: bottom center;
	width: 24px;
	height: 100%;
	display: flex;
	flex-direction: column-reverse;
}

.dashboard .hp-bar{
	width: 100%;
}

.dashboard .hp-bar.n5, .dashboard .hp.n5{
	height: 121px;
}

.dashboard .hp-bar.n4, .dashboard .hp.n4{
	height: 97px;
}

.dashboard .hp-bar.n3, .dashboard .hp.n3{
	height: 73px;
}

.dashboard .hp-bar.n2, .dashboard .hp.n2{
	height: 50px;
}

.dashboard .hp-bar.n1, .dashboard .hp.n1{
	height: 24px;
}

.dashboard .hp{
	width: 100%;
	height: 18px;
}

/* Kingdom Icon */
i.kingdom{
	display: block;
	width: 31px;
	height: 31px;
	background: url(kingdom/unknown.png) no-repeat;
	background-position: center center;
	background-size: 100%;
}

i.kingdom.shu{
	background-image: url(kingdom/shu.png);
}

i.kingdom.wu{
	background-image: url(kingdom/wu.png);
}

i.kingdom.wei{
	background-image: url(kingdom/wei.png);
}

i.kingdom.qun{
	background-image: url(kingdom/qun.png);
}

/* Seat Number */
i.seatnum{
	width: 29px;
	height: 29px;
}

i.seatnum.n1{
	background: url(dashboard/seatnum/1.png) no-repeat;
}

i.seatnum.n2{
	background: url(dashboard/seatnum/2.png) no-repeat;
}

i.seatnum.n3{
	background: url(dashboard/seatnum/3.png) no-repeat;
}

i.seatnum.n4{
	background: url(dashboard/seatnum/4.png) no-repeat;
}

i.seatnum.n5{
	background: url(dashboard/seatnum/5.png) no-repeat;
}

i.seatnum.n6{
	background: url(dashboard/seatnum/6.png) no-repeat;
}

i.seatnum.n7{
	background: url(dashboard/seatnum/7.png) no-repeat;
}

i.seatnum.n8{
	background: url(dashboard/seatnum/8.png) no-repeat;
}

i.seatnum.n9{
	background: url(dashboard/seatnum/9.png) no-repeat;
}

i.seatnum.n10{
	background: url(dashboard/seatnum/10.png) no-repeat;
}

/* HP Bar & Magatama */
.hp-bar{
	display: flex;
	flex-direction: column-reverse;
	border-top-left-radius: 8px;
	position: relative;
	background: url(magatama/hegemony/0.png) repeat-y;
	background-position: bottom center;
	background-size: 90% auto;
}

.hp-bar > .hp{
	width: 100%;
	height: 100%;
	position: absolute;
	bottom: 0;
	right: 0;
	background: url(magatama/hegemony/3.png) repeat-y;
	background-position: bottom center;
	background-size: 90% auto;
}

.hp-bar > .hp.medium{
	background-image: url(magatama/hegemony/2.png);
}

.hp-bar > .hp.low{
	background-image: url(magatama/hegemony/1.png);
}

/* Hand Card Number */
.handcard-num{
	width: 28px;
	height: 15px;
	background: url(handcard/unknown.png) no-repeat;
	background-size: 26px 15px;
	background-position: center left;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	font-size: 12px;
}

.handcard-num.god{
	background-image: url(handcard/god.png);
}

.handcard-num.shu{
	background-image: url(handcard/shu.png);
}

.handcard-num.wu{
	background-image: url(handcard/wu.png);
}

.handcard-num.wei{
	background-image: url(handcard/wei.png);
}

.handcard-num.qun{
	background-image: url(handcard/qun.png);
}

/* Main Area */

.main-area{
	flex: 1 1 auto;
	margin: 10px;
}

/* Photo Area */
.photo-area{
	width: 99.5%;
	height: 100%;
	position: relative;
	display: flex;
}

.photo-area .photo{
	margin: 20px;
}

.photo-area.n1{
	display: block;
}

.photo-area.n1 .photo{
	margin: 20px auto;
}

.photo-area.n2 .photo{
	position: absolute;
}

.photo-area.n2 .photo:nth-child(1){
	top: 0;
	left: calc(75% - 157px / 2 - 20px);
}

.photo-area.n2 .photo:nth-child(2){
	top: 0;
	left: calc(25% - 157px / 2 - 20px);
}

.photo-area.n3{
	display: block;
}

.photo-area.n3 .photo:nth-child(1){
	position: absolute;
	right: 0;
	top: calc(50% - 157px / 2 - 20px);
}

.photo-area.n3 .photo:nth-child(2){
	margin: 0 auto;
}

.photo-area.n3 .photo:nth-child(3){
	position: absolute;
	left: 0;
	top: calc(50% - 157px / 2 - 20px);
}

.photo-area.n4 .photo{
	position: absolute;
}

.photo-area.n4 .photo:nth-child(1){
	top: calc(50% - 157px / 2 - 20px);
	right: 0;
}

.photo-area.n4 .photo:nth-child(2){
	top: 0;
	left: calc(65% - 157px / 2 - 20px);
}

.photo-area.n4 .photo:nth-child(3){
	top: 0;
	left: calc(35% - 157px / 2 - 20px);
}

.photo-area.n4 .photo:nth-child(4){
	top: calc(50% - 157px / 2 - 20px);
	left: 0;
}

.photo-area.n5 .photo{
	position: absolute;
}

.photo-area.n5 .photo:nth-child(1){
	top: 50%;
	right: 0;
}

.photo-area.n5 .photo:nth-child(2){
	top: 0;
	left: calc(75% - 157px / 2 - 20px);
}

.photo-area.n5 .photo:nth-child(3){
	position: relative;
	margin: 20px auto;
}

.photo-area.n5 .photo:nth-child(4){
	top: 0;
	left: calc(25% - 157px / 2 - 20px);
}

.photo-area.n5 .photo:nth-child(5){
	top: 50%;
	left: 0;
}

.photo-area.n6 .photo{
	position: absolute;
}

.photo-area.n6 .photo:nth-child(1){
	top: 50%;
	right: 0;
}

.photo-area.n6 .photo:nth-child(2){
	top: 0;
	left: calc(80% - 157px / 2 - 20px);
}

.photo-area.n6 .photo:nth-child(3){
	top: 0;
	left: calc(60% - 157px / 2 - 20px);
}

.photo-area.n6 .photo:nth-child(4){
	top: 0;
	left: calc(40% - 157px / 2 - 20px);
}

.photo-area.n6 .photo:nth-child(5){
	top: 0;
	left: calc(20% - 157px / 2 - 20px);
}

.photo-area.n6 .photo:nth-child(6){
	top: 50%;
	left: 0;
}

.photo-area.n7 .photo{
	position: absolute;
}

.photo-area.n7 .photo:nth-child(1){
	top: 50%;
	right: 0;
}

.photo-area.n7 .photo:nth-child(2){
	top: 8%;
	left: calc(85% - 157px / 2 - 20px);
}

.photo-area.n7 .photo:nth-child(3){
	top: 0;
	left: calc(67.5% - 157px / 2 - 20px);
}

.photo-area.n7 .photo:nth-child(4){
	position: relative;
	margin: 20px auto;
}

.photo-area.n7 .photo:nth-child(5){
	top: 0;
	left: calc(32.5% - 157px / 2 - 20px);
}

.photo-area.n7 .photo:nth-child(6){
	top: 8%;
	left: calc(15% - 157px / 2 - 20px);
}

.photo-area.n7 .photo:nth-child(7){
	top: 50%;
	left: 0;
}

/* Photo */
.photo{
	width: 157px;
	height: 182px;
	position: relative;
	border: black 2px solid;
	border-radius: 3px;
}

.photo .avatar-area{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
}

.photo .avatar-area .avatar{
	width: 50%;
	height: 182px;
	overflow: hidden;
	position: relative;
}

.photo .avatar-area .avatar > img{
	height: 100%;
	margin-left: -50%;
}

.photo .avatar-area .avatar > .name{
	position: absolute;
	top: 20px;
	left: 3px;
	font-family: 'LiSu', 'Microsoft YaHei';
	color: white;
	font-size: 18px;
	writing-mode: vertical-lr;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.photo .frame{
	background: url(photo/frame.png) no-repeat;
	background-position: top center;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 4px;
	left: 0;
}

.photo .screen-name{
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 16px;
	line-height: 16px;
	font-size: 12px;
	color: white;
	font-family: 'Microsoft YaHei', 'SimHei';
	position: absolute;
	top: 0;
	left: 0;
	text-align: center;
}

.photo .hp-bar{
	width: 19px;
	height: 69px;
	position: absolute;
	right: 0;
	bottom: 0;
	background-color: #1d1e19;
}

.photo .hp-bar.n5, .photo .hp.n5{
	height: 86px;
}

.photo .hp-bar.n4, .photo .hp.n4{
	height: 69px;
}

.photo .hp-bar.n3, .photo .hp.n3{
	height: 52px;
}

.photo .hp-bar.n2, .photo .hp.n2{
	height: 35px;
}

.photo .hp-bar.n1, .photo .hp.n1{
	height: 18px;
}

.photo .hp{
	width: 100%;
	height: 18px;
}

.photo .handcard-num{
	position: absolute;
	left: -10px;
	top: 102px;
}

.photo .kingdom{
	position: absolute;
	top: 1px;
	right: -5px;
}

.chat-box{
	min-height: 200px;
	position: relative;
	display: none;
}

.chat-box > ul.log{
	margin: 0;
	padding: 0;
	height: 100%;
}

.chat-box > .input{
	position: absolute;
	bottom: 0;
	left: 0;
}

/* Card */

.card{
	width: 93px;
	height: 130px;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 100%;
	position: absolute;
}

.card .suit{
	width: 21px;
	height: 17px;
	left: 3px;
	top: 19px;
	position: absolute;
}

.card .suit.spade{
	background-image: url(card/suit/spade.png);
}

.card .suit.heart{
	background-image: url(card/suit/heart.png);
}

.card .suit.club{
	background-image: url(card/suit/club.png);
}

.card .suit.diamond{
	background-image: url(card/suit/diamond.png);
}

.card .number{
	position: absolute;
	left: 0;
	top: 2px;
	width: 27px;
	height: 28px;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100%;
}

.card.black .number.n1{
	background-image: url(card/number/black/1.png);
}

.card.black .number.n2{
	background-image: url(card/number/black/2.png);
}

.card.black .number.n3{
	background-image: url(card/number/black/3.png);
}

.card.black .number.n4{
	background-image: url(card/number/black/4.png);
}

.card.black .number.n5{
	background-image: url(card/number/black/5.png);
}

.card.black .number.n6{
	background-image: url(card/number/black/6.png);
}

.card.black .number.n7{
	background-image: url(card/number/black/7.png);
}

.card.black .number.n8{
	background-image: url(card/number/black/8.png);
}

.card.black .number.n9{
	background-image: url(card/number/black/9.png);
}

.card.black .number.n10{
	background-image: url(card/number/black/10.png);
}

.card.black .number.n11{
	background-image: url(card/number/black/11.png);
}

.card.black .number.n12{
	background-image: url(card/number/black/12.png);
}

.card.black .number.n13{
	background-image: url(card/number/black/13.png);
}

.card.red .number.n1{
	background-image: url(card/number/red/1.png);
}

.card.red .number.n2{
	background-image: url(card/number/red/2.png);
}

.card.red .number.n3{
	background-image: url(card/number/red/3.png);
}

.card.red .number.n4{
	background-image: url(card/number/red/4.png);
}

.card.red .number.n5{
	background-image: url(card/number/red/5.png);
}

.card.red .number.n6{
	background-image: url(card/number/red/6.png);
}

.card.red .number.n7{
	background-image: url(card/number/red/7.png);
}

.card.red .number.n8{
	background-image: url(card/number/red/8.png);
}

.card.red .number.n9{
	background-image: url(card/number/red/9.png);
}

.card.red .number.n10{
	background-image: url(card/number/red/10.png);
}

.card.red .number.n11{
	background-image: url(card/number/red/11.png);
}

.card.red .number.n12{
	background-image: url(card/number/red/12.png);
}

.card.red .number.n13{
	background-image: url(card/number/red/13.png);
}

/* Card List */
.card-list{
	position: relative;
	margin: 10px 10px 10px 15px;
	height: 100%; /* Fallback */
	height: calc(100% - 20px);
}

.card-list .card:hover{
	box-shadow: 0 0 5px rgba(255, 255, 255, 34.5%);
}

/* Animation */
.animation{
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
}

.animation img{
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}

.animation img.current{
	display: block;
}

/* Room Info */
.room-info{
	position: absolute;
	top: 5px;
	right: 5px;
	color: white;
	font-size: 9pt;
}
