
html, body{
	height: 100%;
}

body{
	background: url(table.jpg) no-repeat;
	background-size: 100% 100%;
	overflow: hidden;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

/* Dashboard */

.dashboard{
	background: rgba(0, 0, 0, 0.65);
	height: 150px;
	flex: 1 1 auto;
	display: flex;
	flex-direction: row;
}

.dashboard ul.equip-area{
	margin: 0;
	padding: 0;
	width: 145px;
	height: 100%;
}

.dashboard ul.equip-area li{
	width: 145px;
	height: 22px;
	margin: 6px;
	background: linear-gradient(to right, #252525, #1B1B1A 25%);
}

.dashboard .handcard-area{
	flex: 1 1 auto;
}

.dashboard .button-area{
	background: url(dashboard/button-area.png) no-repeat;
	width: 102px;
	height: 149px;
	position: relative;
}

.dashboard .button-area button{
	position: absolute;
}

.dashboard .button-area i.kingdom{
	position: absolute;
	top: 3px;
	left: 70px;
}

.dashboard .button-area i.seatnum{
	position: absolute;
	left: 71px;
	top: 117px;
}

.dashboard button.confirm{
	background: url(button/confirm/normal.png) no-repeat;
	width: 70px;
	height: 70px;
	border: 0 solid;
	left: 6px;
	top: 3px;
}

.dashboard button.confirm:hover{
	background: url(button/confirm/hover.png) no-repeat;
}

.dashboard button.cancel{
	background: url(button/cancel/normal.png) no-repeat;
	width: 70px;
	height: 69px;
	border: 0 solid;
	left: 6px;
	top: 79px;
}

.dashboard button.cancel:hover{
	background: url(button/cancel/hover.png) no-repeat;
}

.dashboard button.finish{
	background:  url(button/finish/normal.png) no-repeat;
	width: 35px;
	height: 75px;
	border: 0 solid;
	left: 67px;
	top: 37px;
}

.dashboard button.finish:hover{
	background: url(button/finish/hover.png) no-repeat;
}

.dashboard .avatar-area{
	display: flex;
	flex-direction: row;
	width: 283px;
    height: 149px;
	background: url(dashboard/base.png) no-repeat;
}

.dashboard .general-avatar{
	position: relative;
	flex: 1 1 auto;
	width: 128px;
	height: 149px;
}

.dashboard .general-avatar img.avatar{
	width: 128px;
	position: absolute;
	top: 0;
	left: 0;
}

.dashboard .general-avatar .frame{
	background: url(dashboard/avatar.png) no-repeat;
	background-size: 100%;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.dashboard .hp-bar{
	background: url(dashboard/hpbase.png) no-repeat;
	width: 24px;
	height: 145px;
}

/* Kingdom Icon */
i.kingdom{
	display: block;
	width: 31px;
	height: 31px;
	background: url(kingdom/unknown.png) no-repeat;
	background-position: center center;
	background-size: 100%;
}

i.kingdom.shu{
	background-image: url(kingdom/shu.png);
}

i.kingdom.wu{
	background-image: url(kingdom/wu.png);
}

i.kingdom.wei{
	background-image: url(kingdom/wei.png);
}

i.kingdom.qun{
	background-image: url(kingdom/qun.png);
}

/* Seat Number */
i.seatnum{
	width: 29px;
	height: 29px;
}

i.seatnum.n1{
	background: url(dashboard/seatnum/1.png) no-repeat;
}

i.seatnum.n2{
	background: url(dashboard/seatnum/2.png) no-repeat;
}

i.seatnum.n3{
	background: url(dashboard/seatnum/3.png) no-repeat;
}

i.seatnum.n4{
	background: url(dashboard/seatnum/4.png) no-repeat;
}

i.seatnum.n5{
	background: url(dashboard/seatnum/5.png) no-repeat;
}

i.seatnum.n6{
	background: url(dashboard/seatnum/6.png) no-repeat;
}

i.seatnum.n7{
	background: url(dashboard/seatnum/7.png) no-repeat;
}

i.seatnum.n8{
	background: url(dashboard/seatnum/8.png) no-repeat;
}

i.seatnum.n9{
	background: url(dashboard/seatnum/9.png) no-repeat;
}

i.seatnum.n10{
	background: url(dashboard/seatnum/10.png) no-repeat;
}

/* Main Area */

.main-area{
	flex: 1 1 auto;
	height: 100%;
}

.chat-box{
	min-height: 200px;
	position: relative;
}

.chat-box > ul.log{
	margin: 0;
	padding: 0;
	height: 100%;
}

.chat-box > .input{
	position: absolute;
	bottom: 0;
	left: 0;
}
