
.dialog{
	background: rgba(0, 0, 0, 0.8);
	width: 400px;
	height: 300px;
	border: #A6967A 1px solid;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
	position: absolute;
	top: 0;
	left: 0;
	font-family: 'Microsoft YaHei', 'Arial';
}

.dialog > h4{
	color: #E4D5A0;
	text-align: center;
	height: 32px;
	line-height: 32px;
	font-size: 18px;
	font-weight: normal;
	margin: 5px 0;
}
