/* Hand Card Number */
.handcard-num{
	width: 28px;
	height: 15px;
	background: url(handcard/unknown.png) no-repeat;
	background-size: 26px 15px;
	background-position: center left;
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	text-align: center;
	font-size: 12px;
}

.handcard-num.god{
	background-image: url(handcard/god.png);
}

.handcard-num.shu{
	background-image: url(handcard/shu.png);
}

.handcard-num.wu{
	background-image: url(handcard/wu.png);
}

.handcard-num.wei{
	background-image: url(handcard/wei.png);
}

.handcard-num.qun{
	background-image: url(handcard/qun.png);
}
