
/* Kingdom Icon */
i.kingdom{
	display: block;
	width: 31px;
	height: 31px;
	background: url(kingdom/unknown.png) no-repeat;
	background-position: center center;
	background-size: 100%;
}

i.kingdom.shu{
	background-image: url(kingdom/shu.png);
}

i.kingdom.wu{
	background-image: url(kingdom/wu.png);
}

i.kingdom.wei{
	background-image: url(kingdom/wei.png);
}

i.kingdom.qun{
	background-image: url(kingdom/qun.png);
}
