/* Photo Area */

.photo-area{
	width: 99.5%;
	height: 100%;
	position: relative;
	display: flex;
}

.photo-area .photo{
	margin: 20px;
}

.photo-area.n1{
	display: block;
}

.photo-area.n1 .photo{
	margin: 20px auto;
}

.photo-area.n2 .photo{
	position: absolute;
}

.photo-area.n2 .photo:nth-child(1){
	top: 0;
	left: calc(75% - 157px / 2 - 20px);
}

.photo-area.n2 .photo:nth-child(2){
	top: 0;
	left: calc(25% - 157px / 2 - 20px);
}

.photo-area.n3{
	display: block;
}

.photo-area.n3 .photo:nth-child(1){
	position: absolute;
	right: 0;
	top: calc(50% - 157px / 2 - 20px);
}

.photo-area.n3 .photo:nth-child(2){
	margin: 0 auto;
}

.photo-area.n3 .photo:nth-child(3){
	position: absolute;
	left: 0;
	top: calc(50% - 157px / 2 - 20px);
}

.photo-area.n4 .photo{
	position: absolute;
}

.photo-area.n4 .photo:nth-child(1){
	top: calc(50% - 157px / 2 - 20px);
	right: 0;
}

.photo-area.n4 .photo:nth-child(2){
	top: 0;
	left: calc(65% - 157px / 2 - 20px);
}

.photo-area.n4 .photo:nth-child(3){
	top: 0;
	left: calc(35% - 157px / 2 - 20px);
}

.photo-area.n4 .photo:nth-child(4){
	top: calc(50% - 157px / 2 - 20px);
	left: 0;
}

.photo-area.n5 .photo{
	position: absolute;
}

.photo-area.n5 .photo:nth-child(1){
	top: 50%;
	right: 0;
}

.photo-area.n5 .photo:nth-child(2){
	top: 0;
	left: calc(75% - 157px / 2 - 20px);
}

.photo-area.n5 .photo:nth-child(3){
	position: relative;
	margin: 20px auto;
}

.photo-area.n5 .photo:nth-child(4){
	top: 0;
	left: calc(25% - 157px / 2 - 20px);
}

.photo-area.n5 .photo:nth-child(5){
	top: 50%;
	left: 0;
}

.photo-area.n6 .photo{
	position: absolute;
}

.photo-area.n6 .photo:nth-child(1){
	top: 50%;
	right: 0;
}

.photo-area.n6 .photo:nth-child(2){
	top: 0;
	left: calc(80% - 157px / 2 - 20px);
}

.photo-area.n6 .photo:nth-child(3){
	top: 0;
	left: calc(60% - 157px / 2 - 20px);
}

.photo-area.n6 .photo:nth-child(4){
	top: 0;
	left: calc(40% - 157px / 2 - 20px);
}

.photo-area.n6 .photo:nth-child(5){
	top: 0;
	left: calc(20% - 157px / 2 - 20px);
}

.photo-area.n6 .photo:nth-child(6){
	top: 50%;
	left: 0;
}

.photo-area.n7 .photo{
	position: absolute;
}

.photo-area.n7 .photo:nth-child(1){
	top: 50%;
	right: 0;
}

.photo-area.n7 .photo:nth-child(2){
	top: 8%;
	left: calc(85% - 157px / 2 - 20px);
}

.photo-area.n7 .photo:nth-child(3){
	top: 0;
	left: calc(67.5% - 157px / 2 - 20px);
}

.photo-area.n7 .photo:nth-child(4){
	position: relative;
	margin: 20px auto;
}

.photo-area.n7 .photo:nth-child(5){
	top: 0;
	left: calc(32.5% - 157px / 2 - 20px);
}

.photo-area.n7 .photo:nth-child(6){
	top: 8%;
	left: calc(15% - 157px / 2 - 20px);
}

.photo-area.n7 .photo:nth-child(7){
	top: 50%;
	left: 0;
}
