/* Seat Number */

i.seatnum{
	width: 29px;
	height: 29px;
}

i.seatnum.n1{
	background: url(dashboard/seatnum/1.png) no-repeat;
}

i.seatnum.n2{
	background: url(dashboard/seatnum/2.png) no-repeat;
}

i.seatnum.n3{
	background: url(dashboard/seatnum/3.png) no-repeat;
}

i.seatnum.n4{
	background: url(dashboard/seatnum/4.png) no-repeat;
}

i.seatnum.n5{
	background: url(dashboard/seatnum/5.png) no-repeat;
}

i.seatnum.n6{
	background: url(dashboard/seatnum/6.png) no-repeat;
}

i.seatnum.n7{
	background: url(dashboard/seatnum/7.png) no-repeat;
}

i.seatnum.n8{
	background: url(dashboard/seatnum/8.png) no-repeat;
}

i.seatnum.n9{
	background: url(dashboard/seatnum/9.png) no-repeat;
}

i.seatnum.n10{
	background: url(dashboard/seatnum/10.png) no-repeat;
}
