.dashboard .prompt-area {
	color: white;
	font-family: '黑体';
	font-weight: bolder;
	font-size: 13pt;
	text-align: center;
	text-shadow: -1px 0 rgb(17, 59, 121), 0 1px rgb(17, 59, 121), 1px 0 rgb(17, 59, 121), 0 -1px rgb(17, 59, 121);
}
