
/* HP Bar & Magatama */
.hp-bar {
	display: flex;
	flex-direction: column-reverse;
	border-top-left-radius: 8px;
	background: url(../style/magatama/standard/0.png) repeat-y;
	background-position: bottom center;
	background-size: auto 18px;

	> .hp {
		width: 18px;
		height: 18px;
		background-repeat: no-repeat;
		background-size: auto 100%;
		background-image: url(../style/magatama/standard/3.png);
		background-position: bottom center;
	}

	&.medium {
		> .hp {
			background-image: url(../style/magatama/standard/2.png);
		}
	}
	&.low {
		> .hp {
			background-image: url(../style/magatama/standard/1.png);
		}
	}
}
