

.dashboard {
	button.cancel {
		background: url('../style/button/cancel/disabled.png') no-repeat;
		width: 70px;
		height: 69px;
		border: 0 solid;
		left: 6px;
		top: 79px;

		&.enabled {
			background-image: url('../style/button/cancel/normal.png');

			&:hover {
				background-image: url('../style/button/cancel/hover.png');
			}
		}
	}
}
