.lobby {
	height: 100%;
	background: url(../style/start-scene.jpg) no-repeat;
	background-size: 100% 100%;

	.info-panel {
		width: 48%;
		height: 100%;
		float: left;

		i.logo {
			display: block;
			margin: auto;
			margin-top: calc(50% - 100px);
		}
	}

	.entrance-form {
		width: 48%;
		height: 100%;
		float: right;
		box-sizing: border-box;
		padding-top: 15%;
		padding-left: 10%;

		input.room-number,
		button {
			display: block;
			width: 256px;
			box-sizing: border-box;
			margin: 25px 0;
			font-size: 16pt;
			height: 3em;
			line-height: 3em;
			padding: 0 0.6em;
			text-align: center;
		}

		input.room-number {
			&::-webkit-outer-spin-button,
			&::-webkit-inner-spin-button {
				-webkit-appearance: none;
				margin: 0;
			}
		}
	}
}
