
.dashboard {
	background: rgba(0, 0, 0, 0.65);
	height: 150px;
	display: flex;
	flex-direction: row;
	position: relative;

	.equip-area {
		margin: 0;
		padding: 0;
		width: 145px;
		height: 100%;
	}

	.hand-area {
		flex: 1 1 auto;
		position: relative;
	}

	.button-area {
		width: 102px;
		height: 149px;
		position: relative;
	}

	.avatar-area {
		height: 149px;
	}

	.phase-bar {
		position: absolute;
		top: -20px;
		width: 100%;
		text-align: center;
	}
}
