.room {
	height: 100%;
	background: url('../style/table.jpg') no-repeat;
	background-size: cover;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	.main-area {
		flex: 1 1 auto;
		margin: 10px;
	}

	.room-info {
		position: absolute;
		top: 5px;
		right: 5px;
		color: white;
		font-size: 9pt;
	}

	#owner-panel {
		width: 200px;
		height: 120px;
		top: 60%;
		left: 50%;
		margin-left: -100px;
		margin-top: -60px;
		position: absolute;
		text-align: center;
		display: none;

		button.metro{
			width: 80%;
		}
	}
}
