.room {
	height: 100%;
	background: url('../style/table.jpg') no-repeat;
	background-size: cover;
	overflow: hidden;
	display: flex;
	flex-direction: column;

	.main-area {
		flex: 1 1 auto;
		margin: 10px;
	}

	.room-info {
		position: absolute;
		top: 5px;
		right: 5px;
		color: white;
		font-size: 9pt;
	}

	#owner-panel {
		width: 200px;
		height: 120px;
		top: 60%;
		left: 50%;
		margin-left: -100px;
		margin-top: -60px;
		position: absolute;
		text-align: center;
		display: none;

		button.metro {
			width: 80%;
		}
	}

	.handcard-num {
		width: 28px;
		height: 15px;
		background: url(../style/handcard/unknown.png) no-repeat;
		background-size: 26px 15px;
		background-position: center left;
		color: white;
		text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
		text-align: center;
		font-size: 12px;
	}

	.god {
		.handcard-num {
			background-image: url(../style/handcard/god.png);
		}
	}

	&.shu {
		.handcard-num {
			background-image: url(../style/handcard/shu.png);
		}
	}

	&.wu {
		.handcard-num {
			background-image: url(../style/handcard/wu.png);
		}
	}

	&.wei {
		.handcard-num {
			background-image: url(../style/handcard/wei.png);
		}
	}

	&.qun {
		.handcard-num {
			background-image: url(../style/handcard/qun.png);
		}
	}

	@import 'button.scss';
}
