
.hand-area {
	position: relative;

	.movable > .wrapper > .card {
		position: relative;
		top: 0;
		left: 0;
		transition: top 280ms ease-in-out, opacity 280ms ease-in-out;
	}

	&.selectable {
		.movable > .wrapper {
			> .card {
				opacity: 0.6;
			}

			&.selectable > .card {
				opacity: 1;
			}

			&.selected > .card {
				top: -20px;
			}
		}
	}

	.card-num {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.movable {
		position: absolute;
		top: 0;
		left: 0;
	}
}
