
.hand-area {
	&.selectable {
		.card {
			opacity: 0.6;
		}
	}
	position: relative;

	.card-num {
		position: absolute;
		bottom: 0;
		right: 0;
	}

	.movable {
		position: absolute;
		top: 0;
		left: 0;
	}
}
